<html>
<head>
    <title>LASM Mockup Service</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='incident.css') }}">
</head>
<body>
<h1>LASM Mockup Service</h1>
<h2>Liability Reports</h2>
<table class="container">
    <thead>
    <th>Time</th>
    <th>Service Provider</th>
    <th>Service Name</th>
    <th>Failure Probability</th>
    <th>Possible Penalty</th>
    <th>Details</th>
    <th>Raw Metrics</th>
    </thead>
    <tbody>
    {% for report in reports %}
    <tr>
        {% if report["violations"] %}
        <td>{{report["violations"][0]["violation_details"]["violation_time"]}}</td>
        <td>{{report["violations"][0]["violation_details"]["violation_type"]}}</td>
        <td>{{report["violations"][0]["violation_details"]["responsible_provider"]}}</td>
        <td>{{report["violations"][0]["violation_details"]["reported_value"]}}</td>
        <td>{{report["violations"][0]["root_causes"]}}</td>
        <td >{{report["violations"][0]["metrics"]| safe}}</td>
        {% else %}
        <td colspan=6>-</td>
        {% endif %}
        <td >{{report["metrics_ordered"]| safe}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
<html>
